* {
	box-sizing: border-box;
}

body {
	background-color: #001d3d;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: #ffffff;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
	font-size: 2rem;
    width: fit-content;
}



input {
	width: 50%;
	height: 2rem;
	border-radius: 5px;
	border: 1px solid #0035;
	padding: 0 5px;
	margin: 10px 0;
}

#container {
	display: flex;
	justify-content: center;
	width: 75svh;
	gap: 5%;
	padding-block: 10%;
}

#container div {
	border-radius: 2%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: start;
	align-items: center;
}

#container div ol {
	list-style: none;
	padding-block: 3%;
	padding-inline: 0;
	background: #0035;
	border-radius: 5px;
}

#container div ol li {
	height: 30svh;
	width: 20svw;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	transition: background-color 0.2s ease;
	border-radius: 1px;
}

#container div ol li:hover{
    background: #00296b;
}

.border-gradient {
    background: linear-gradient(to right, transparent, #ffd500, transparent); /* Gradiente monocromático */
	height: 1px;
	width: 95%;
}

#container div h3 {
	padding-block: 3px;
	padding-inline: 6px;
	border-radius: 5%;
	border: 2px solid #0035;
}

#todo h3 {
	background: rgba(255, 0, 0, 0.33);

}

#doing h3 {
	background: rgba(255, 219, 41, 0.33);

}

#done h3 {
	background: rgba(127, 255, 41, 0.33);

}

dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

dialog h1 {
  color: white;
  font-size: 2em;
}

dialog p {
  color: white;
  font-size: 1em;
}

button {
  background-color: white;
  color: black;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

















